$bg-0: #fff9eb;
$bg-1: darken($bg-0, 1%);
$bg-2: darken($bg-1, 25%);

$text-0: darken($bg-0, 100%);
$text-1: darken($bg-0, 60%);
$text-2: darken($bg-0, 50%);

:root.light {
  --text-0: #{$text-0};
  --text-1: #{$text-1};
  --text-2: #{$text-2};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #ff9100;
  --hover-color: white;

  --icon-filter: none;
}
