.character-note {
    display: flex;
    flex-direction: row;
    margin-block: 1.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;

    &.character-right {
        flex-direction: row-reverse;
        margin-right: -3rem;

        .character-avatar img {
            transform: scaleX(-1);
        }
        /* Auf kleinen Bildschirmen den negativen Rand deaktivieren */
        @media (max-width: 768px) {
            margin-right: 0;
        }
    }

    &.character-left {
        margin-left: -3rem;
        flex-direction: row;
        /* Auf kleinen Bildschirmen den negativen Rand deaktivieren */
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }

    .character-avatar {
        font-size: 2rem;
        align-self: flex-start;
        flex-shrink: 0;

        img {
            --head-size: 4em;
            width: var(--head-size);
            height: var(--head-size);
        }
    }

    .character-content {
        align-self: flex-start;
        max-width: min(93%, 45em);
        overflow: hidden;
        margin: 1.5rem;
    }

    .character-bubble {
        --character-bubble-bg: var(--bg-1);
        --character-bubble-border: var(--border-color);
        --character-code-bg: var(--bg-0);

        background: var(--character-bubble-bg);
        border: 1px solid var(--character-bubble-border);
        border-radius: 0.5rem;
        padding-inline: 0.9em;
        padding-block: 0.2em;
    }

}
